.answer {
  height: 30px;
  display: inline-block;
  padding: 0;
  text-align: center;
  margin: 20px 0;
}

.characterInAnswer {
  width: 15px;
  height: 100%;
  font-size: 20px;
  vertical-align: middle;
  display: inline-block;
  font-weight: bold;
  display: inline-block;
  border-bottom: 1px solid white;
  margin: auto 5px;
  text-transform: uppercase;
  color: white;
  display: inline-block;
}

.spaceInAnswer {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 5px;
  text-transform: uppercase;
  color: white;
  display: inline-block;
}